* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
}

/* NAVAR */
nav {
	height: 99px;
	text-align: center;
	padding-top: 20px;
}

nav li {
	display: inline-block;
	margin-right: 57px;
	vertical-align: middle;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: lighter;
}

.icono {
	width: 44px;
	height: 44px;
}
.oscuro {
	background-color: #000f08;
}

/* HERO */
header {
	background-image: url(../img/bg-hero.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	font-family: "Open sans";
	text-align: right;
	color: white;
	height: 422px;
	padding-right: 11.9em;
	padding-top: 52px;
	padding-bottom: 12.3rem;
	text-shadow: 0px 3px 6px #00000080;
}

h1 {
	font-size: 3.75rem;
	font-weight: 800;
}

header h2 {
	font-size: 2.5rem;
	font-weight: 400;
}

/* SECTION UBICACION */

#ubicacion {
	text-align: center;
	padding-top: 9.5rem;
	padding-bottom: 8.1rem;
}

#ubicacion h2 {
	margin-top: 41px;
	margin-bottom: 18px;

	font-size: 2.9rem;
	font-weight: bold;
}

#ubicacion p {
	font-size: 1.5rem;
	font-weight: normal;
}

/* SECTION proxima charla */

#proxima-charla {
	padding: 100px;
	color: white;
}

.sweet-brown {
	background: #a4452c;
}

#proxima-charla .centrado {
	width: 800px;
	margin: auto;
}

.centrado img {
	width: 35%;
}

.centrado .charla-texto {
	width: 60%;
	margin-left: 4%;
}

.centrado img,
.charla-texto {
	display: inline-block;
	vertical-align: middle;
}

.centrado h2 {
	font-size: 2.8rem;
	font-weight: bold;
}

.centrado h3 {
	font-size: 2.5rem;
	font-weight: bold;
}

.centrado h4 {
	font-size: 2rem;
	font-weight: 400;
}

.centrado h5 {
	font-size: 1.25rem;
	font-weight: lighter;
}

.centrado p {
	font-size: 1.2rem;
	font-weight: lighter;
	line-height: 34px;
	margin-top: 10px;
}

/* EVENTOS */

#eventos {
	text-align: center;
	padding-top: 143px;
	padding-bottom: 162px;
}

.evento {
	display: inline-block;
	margin-right: auto;
	text-align: center;
}
.evento-margen {
	margin: 0 50px;
}

#eventos h2 {
	font-size: 2.8rem;
	font-weight: bold;
	margin-bottom: 75px;
}

.evento img {
	width: 320px;
	height: auto;
}
.evento h3 {
	font-size: 1.7rem;
	font-weight: bold;
	margin-top: 48px;
}
.evento a {
	color: #000000;
	text-decoration: none;
}

.wrapper {
	justify-content: center;
}

#evento-interior {
	text-align: center;
	margin-top: 100px;
}

#evento-interior article {
	width: 55%;
	height: auto;
	margin: auto;
	text-align: left;
}
#evento-interior img {
	width: 100%;
	margin-bottom: 50px;
}
#evento-interior h2 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 75px;
}
#evento-interior h3 {
	font-size: 2.5rem;
    font-weight: bold;
	margin-top: 30px;
}
#evento-interior p {
	font-size: 1.5rem;
    font-weight: normal;
	margin-top: 30px;
}


/* Footer */

footer {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	background: #000f08;
	color: white;
	padding: 20px;
	height: 284px;
	margin-top: 80px;
	vertical-align: bottom;
	padding-top: 150px;
}
footer p {
	margin-top: 20px;
}

i {
	font-size: 30px;
	color: white;
	height: 70px;
	width: 70px;
}
